<?xml version="1.0"?>
<HtmlContentData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Html>&lt;table style="width: 100%;" align="" border="1" cellpadding="1" cellspacing="1"&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;a href="http://fa.wfp.org/"&gt;&lt;img src="/Opal/ImageHandler.ashx?UploadedFile=true&amp;amp;image=~/App_Data/UserImages/Image/240px-WFPlogo130.svg.png" alt="240px-WFPlogo130.svg.png" border="0" height="115" width="115"&gt;&lt;/a&gt;&lt;br&gt;&lt;/td&gt;&lt;td&gt;&lt;a href="www.mahak-charity.org"&gt;&lt;img src="/Opal/ImageHandler.ashx?UploadedFile=true&amp;amp;image=~/App_Data/UserImages/Image/6823450.jpg" alt="6823450.jpg" border="0" height="123" width="123"&gt;&lt;/a&gt;&lt;br&gt;&lt;/td&gt;&lt;td&gt;&lt;br&gt;&lt;/td&gt;&lt;td&gt;&amp;nbsp; تمامی کالاها و خدمات این وبسایت حسب مورد دارای مجوزهای لازم از مراجع 
مربوطه میباشند و فعالیتهای این سایت تابع قوانین و مقررات جمهوری اسلامی 
ایران است .&lt;br&gt;&amp;nbsp; برای بهتر دیدن محتوا &lt;a href="http://www.ArvidSMS.ir/Font/Traffic.rar"&gt;قلم ترافیک&lt;/a&gt; را (درصورتیکه در رایانه تان نصب نیست) دریافت و نصب کنید. همچنین بهترین حالت تصویر حداقل در تفکیک پذیری 768 × 1024 است .&lt;br&gt;&amp;nbsp; شماره حساب بانکی جهت واریز وجه شماره &lt;b&gt;0302130186007 &lt;/b&gt;بانک ملی ایران و شماره کارت &lt;b&gt;6037991467549568 &lt;/b&gt;به نام آقای &lt;b&gt;علیرضا زمانی&lt;/b&gt; میباشد .&lt;br&gt;&amp;nbsp; برای دریافت اطلاعات حسابهای بانکی به بخش دریافت فایل ها و مستندات رجوع کنید .&lt;br&gt;&amp;nbsp; برای کسب اطلاعات بیشتر میتوانید با شماره های &lt;b&gt;09128584771 &lt;/b&gt;و یا شماره &lt;b&gt;33643817 &lt;/b&gt;- &lt;b&gt;021 &lt;/b&gt;تماس بگیرید .&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;</Html>
</HtmlContentData>