<?xml version="1.0"?>
<HtmlContentData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Html>با سلام خدمت کاربران محترم&lt;br&gt;کلیه خطاهای فنی و ممشکلات فنی سیستم را جهت بررسی و مرتفع نمودن توسط کارشناسان و برنامه نویسان در این فرم منعکس کنید . با سپاس&lt;br&gt;</Html>
</HtmlContentData>