<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="UserTable" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="UserTable">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PKID" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" minOccurs="0" />
                <xs:element name="FirstName" type="xs:string" minOccurs="0" />
                <xs:element name="LastName" type="xs:string" minOccurs="0" />
                <xs:element name="NationalCode" type="xs:long" minOccurs="0" />
                <xs:element name="IntroduceWay" type="xs:string" minOccurs="0" />
                <xs:element name="Concessionaire" type="xs:string" minOccurs="0" />
                <xs:element name="GradeLevel" type="xs:string" minOccurs="0" />
                <xs:element name="CompanyName" type="xs:string" minOccurs="0" />
                <xs:element name="RegisterNo" type="xs:int" minOccurs="0" />
                <xs:element name="ActivityField" type="xs:string" minOccurs="0" />
                <xs:element name="PostInCo" type="xs:string" minOccurs="0" />
                <xs:element name="Website" type="xs:string" minOccurs="0" />
                <xs:element name="CompanyEmail" type="xs:string" minOccurs="0" />
                <xs:element name="Tel" type="xs:long" minOccurs="0" />
                <xs:element name="Mobile" type="xs:long" minOccurs="0" />
                <xs:element name="PostalCode" type="xs:long" minOccurs="0" />
                <xs:element name="Address" type="xs:string" minOccurs="0" />
                <xs:element name="Username" type="xs:string" minOccurs="0" />
                <xs:element name="ApplicationName" type="xs:string" minOccurs="0" />
                <xs:element name="Email" type="xs:string" minOccurs="0" />
                <xs:element name="Comment" type="xs:string" minOccurs="0" />
                <xs:element name="AgentName" type="xs:string" minOccurs="0" />
                <xs:element name="AgentTelNo" type="xs:long" minOccurs="0" />
                <xs:element name="LineNo" type="xs:long" minOccurs="0" />
                <xs:element name="Charge" type="xs:long" minOccurs="0" />
                <xs:element name="Credit" type="xs:long" minOccurs="0" />
                <xs:element name="SendFee" type="xs:long" minOccurs="0" />
                <xs:element name="ReceiveFee" type="xs:long" minOccurs="0" />
                <xs:element name="Facilities" type="xs:string" minOccurs="0" />
                <xs:element name="OldSMS" type="xs:string" minOccurs="0" />
                <xs:element name="IsSubscriber" type="xs:boolean" minOccurs="0" />
                <xs:element name="Salt" type="xs:string" minOccurs="0" />
                <xs:element name="Password" type="xs:string" minOccurs="0" />
                <xs:element name="IsApproved" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastActivityDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastLoginDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastPasswordChangedDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="IsOnLine" type="xs:boolean" minOccurs="0" />
                <xs:element name="IsLockedOut" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastLockedOutDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <UserTable>
    <PKID>a477c7ad-7b43-460d-8b7e-9dae8fbdf5a3</PKID>
    <FirstName>علیرضا</FirstName>
    <LastName>زمانی</LastName>
    <NationalCode>82562504</NationalCode>
    <IntroduceWay>اینترنت</IntroduceWay>
    <Concessionaire>آروید فاوا</Concessionaire>
    <GradeLevel>کارشناسی</GradeLevel>
    <CompanyName>آروید فاوا</CompanyName>
    <RegisterNo>423355</RegisterNo>
    <ActivityField>فناوری اطلاعات</ActivityField>
    <PostInCo>مدیرعامل</PostInCo>
    <Website>www.arvidfava.ir</Website>
    <CompanyEmail>info@arvidfava.ir</CompanyEmail>
    <Tel>2133643817</Tel>
    <Mobile>9128584771</Mobile>
    <PostalCode>178691977454</PostalCode>
    <Address>تهران، افسریه، خ قائم</Address>
    <Username>admin</Username>
    <ApplicationName>/MWPSK</ApplicationName>
    <Email>you@your-domain.xyz</Email>
    <Comment />
    <AgentName>محمدی</AgentName>
    <AgentTelNo>111111</AgentTelNo>
    <LineNo>9830004771</LineNo>
    <Charge>0</Charge>
    <Credit>39820</Credit>
    <SendFee>10692</SendFee>
    <ReceiveFee>0</ReceiveFee>
    <Facilities>تست</Facilities>
    <OldSMS>تست</OldSMS>
    <IsSubscriber>false</IsSubscriber>
    <Salt>q3DHal25</Salt>
    <Password>UyOGse6anlDbp6rPaCwG192SuU8=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2014-02-25T11:38:25.3975608+03:30</LastActivityDate>
    <LastLoginDate>2014-02-25T11:38:25.3975608+03:30</LastLoginDate>
    <LastPasswordChangedDate>2012-04-10T19:28:51.0227645+04:30</LastPasswordChangedDate>
    <CreationDate>2012-04-10T19:28:51.0227645+04:30</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T03:30:00+03:30</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>9868f2bb-9d88-467c-8ccc-0faba1a9b18a</PKID>
    <FirstName />
    <LastName />
    <NationalCode>0</NationalCode>
    <IntroduceWay />
    <Concessionaire />
    <GradeLevel />
    <CompanyName />
    <RegisterNo>0</RegisterNo>
    <ActivityField />
    <PostInCo />
    <Website />
    <CompanyEmail />
    <Tel>0</Tel>
    <Mobile>0</Mobile>
    <PostalCode>0</PostalCode>
    <Address />
    <Username>greenhornet</Username>
    <ApplicationName>/Opal</ApplicationName>
    <Email>z_alireza67@yahoo.com</Email>
    <Comment />
    <AgentName />
    <AgentTelNo>0</AgentTelNo>
    <LineNo>0</LineNo>
    <Charge>0</Charge>
    <Credit>0</Credit>
    <SendFee>0</SendFee>
    <ReceiveFee>0</ReceiveFee>
    <Facilities />
    <OldSMS />
    <IsSubscriber>false</IsSubscriber>
    <Salt>g5DWZbfV</Salt>
    <Password>s28SMVP6XPnP/936xG/wWfzLLE4=</Password>
    <IsApproved>false</IsApproved>
    <LastActivityDate>1392-04-04T21:33:54+04:30</LastActivityDate>
    <LastLoginDate>1392-04-04T21:33:54+04:30</LastLoginDate>
    <LastPasswordChangedDate>1392-04-04T21:33:54+04:30</LastPasswordChangedDate>
    <CreationDate>1392-04-04T21:33:54+04:30</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T00:00:00+03:30</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>8aef142c-0da0-4858-9a61-729ef48af0a1</PKID>
    <FirstName />
    <LastName />
    <NationalCode>0</NationalCode>
    <IntroduceWay />
    <Concessionaire />
    <GradeLevel />
    <CompanyName />
    <RegisterNo>0</RegisterNo>
    <ActivityField />
    <PostInCo />
    <Website />
    <CompanyEmail />
    <Tel>0</Tel>
    <Mobile>0</Mobile>
    <PostalCode>0</PostalCode>
    <Address />
    <Username>greenhornet2</Username>
    <ApplicationName>/Opal</ApplicationName>
    <Email>z.alireza67@GMail.com</Email>
    <Comment />
    <AgentName />
    <AgentTelNo>0</AgentTelNo>
    <LineNo>0</LineNo>
    <Charge>0</Charge>
    <Credit>0</Credit>
    <SendFee>0</SendFee>
    <ReceiveFee>0</ReceiveFee>
    <Facilities />
    <OldSMS />
    <IsSubscriber>false</IsSubscriber>
    <Salt>wtVI3d51</Salt>
    <Password>lBO+Z97WoZzINp7xi25p9VWx7SM=</Password>
    <IsApproved>false</IsApproved>
    <LastActivityDate>1392-04-04T21:36:51+04:30</LastActivityDate>
    <LastLoginDate>1392-04-04T21:36:51+04:30</LastLoginDate>
    <LastPasswordChangedDate>1392-04-04T21:36:51+04:30</LastPasswordChangedDate>
    <CreationDate>1392-04-04T21:36:51+04:30</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T00:00:00+03:30</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>58c1d98a-2f2a-4f99-9a04-098418dbf581</PKID>
    <FirstName>علیرضا</FirstName>
    <LastName>زمانی</LastName>
    <NationalCode>82562504</NationalCode>
    <IntroduceWay>اینترنت</IntroduceWay>
    <Concessionaire>آروید فاوا</Concessionaire>
    <GradeLevel>کارشناسی</GradeLevel>
    <CompanyName />
    <RegisterNo>0</RegisterNo>
    <ActivityField />
    <PostInCo />
    <Website />
    <CompanyEmail />
    <Tel>2133643817</Tel>
    <Mobile>9128584771</Mobile>
    <PostalCode>178691977454</PostalCode>
    <Address>تهران، افسریه، خ قائم</Address>
    <Username>mohammadifar</Username>
    <ApplicationName>/Opal</ApplicationName>
    <Email>korandcomp@yahoo.co.uk</Email>
    <Comment />
    <AgentName />
    <AgentTelNo>0</AgentTelNo>
    <LineNo>0</LineNo>
    <Charge>0</Charge>
    <Credit>0</Credit>
    <SendFee>0</SendFee>
    <ReceiveFee>0</ReceiveFee>
    <Facilities />
    <OldSMS />
    <IsSubscriber>false</IsSubscriber>
    <Salt>eSZriEsA</Salt>
    <Password>pedHaL7Dq4EEHMCZjKvNa0xWsJY=</Password>
    <IsApproved>false</IsApproved>
    <LastActivityDate>1392-04-04T21:54:53+04:30</LastActivityDate>
    <LastLoginDate>1392-04-04T21:54:53+04:30</LastLoginDate>
    <LastPasswordChangedDate>1392-04-04T21:54:53+04:30</LastPasswordChangedDate>
    <CreationDate>1392-04-04T21:54:53+04:30</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T03:30:00+03:30</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
</NewDataSet>