<?xml version="1.0"?>
<WebSiteData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HomepageId>7e08380a-490b-4a93-82b6-6360edcd8a25</HomepageId>
  <Theme>ElasticOrange</Theme>
  <Language>fa-IR</Language>
  <SmtpServer>mail.ArvidSMS.ir</SmtpServer>
  <SmtpUser>info@ArvidSMS.ir</SmtpUser>
  <SmtpPassword>mohammad234</SmtpPassword>
  <SmtpDomain />
  <FooterText>طراحی و پیاده سازی از آقای علیرضا زمانی | کلیه حقوق مادی و معنوی محتوا و نرم افزار این سیستم برای آقای علیرضا زمانی محفوظ است .Copyrighted - 2014</FooterText>
  <WebSiteTitle>راهکارهای خدمات ارزش افزوده تلفن همراه</WebSiteTitle>
  <Keywords>پیامک، پیامک متنی، اس ام اس، کشوری، استانی، شهری، کد پستی، آروید، خدمات ارزش افزوده تلفن همراه، موبایل، تبلیغات، تبلیغاتی، انبوه، تبلیغ، SMS ،</Keywords>
  <Description>پیامک آروید | راهکارهای خدمات ارزش افزوده تلفن همراه</Description>
  <EnableSectionRss>true</EnableSectionRss>
  <MailSenderAddress>info@ArvidSMS.ir</MailSenderAddress>
  <EnableIE8CompatibilityMetatag>false</EnableIE8CompatibilityMetatag>
  <AllowUserSelfRegistration>true</AllowUserSelfRegistration>
  <EnableVersionChecking>true</EnableVersionChecking>
</WebSiteData>