<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/eforms/catalog.aspx</VirtualPath>
  <NavigationName>فرم سفارش کاتالوگ و مستندات</NavigationName>
  <Title>فرم سفارش کاتالوگ و مستندات</Title>
  <Description>فرم سفارش کاتالوگ و مستندات</Description>
  <Keywords>فرم سفارش کاتالوگ و مستندات</Keywords>
  <Sections />
</WebPageData>