<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>false</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/account/default.aspx</VirtualPath>
  <NavigationName>حساب کاربری</NavigationName>
  <Title>حساب کاربری</Title>
  <Description>حساب کاربری</Description>
  <Keywords>حساب کاربری</Keywords>
  <Sections />
</WebPageData>