<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/eforms/epayment.aspx</VirtualPath>
  <NavigationName>فرم پرداخت الکترونیکی حساب</NavigationName>
  <Title>فرم پرداخت الکترونیکی حساب</Title>
  <Description>فرم پرداخت الکترونیکی حساب</Description>
  <Keywords>فرم پرداخت الکترونیکی حساب</Keywords>
  <Sections />
</WebPageData>