<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/controlpanel.aspx</VirtualPath>
  <NavigationName>کنترل پنل کاربری</NavigationName>
  <Title>کنترل پنل کاربری</Title>
  <Description>کنترل پنل کاربری</Description>
  <Keywords>کنترل پنل کاربری</Keywords>
  <Sections />
</WebPageData>