<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/links.aspx</VirtualPath>
  <NavigationName>پیوند ها</NavigationName>
  <Title>پیوند ها</Title>
  <Description>پیوند ها</Description>
  <Keywords>پیوند ها</Keywords>
  <Sections>
    <string>2d6d8c47-9b8b-441e-b991-a3ad7491dde5</string>
    <string>e393d1a1-0d24-4bc6-9e73-4ee139bd5376</string>
  </Sections>
</WebPageData>