<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/services.aspx</VirtualPath>
  <NavigationName>خدمات و راهکارها</NavigationName>
  <Title>خدمات و راهکارها</Title>
  <Description>خدمات و راهکارها</Description>
  <Keywords>خدمات و راهکارها</Keywords>
  <Sections>
    <string>91f396c0-33a8-4a7c-8e3b-78a6ea0b79b7</string>
    <string>61431f48-aabf-4fd0-972d-be327d17e7c0</string>
  </Sections>
</WebPageData>