<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/eforms/panelorder.aspx</VirtualPath>
  <NavigationName>فرم سفارش پنل های اینترنتی</NavigationName>
  <Title>فرم سفارش پنل های اینترنتی</Title>
  <Description>فرم سفارش پنل های اینترنتی</Description>
  <Keywords>فرم سفارش پنل های اینترنتی</Keywords>
  <Sections />
</WebPageData>