<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/livechat.aspx</VirtualPath>
  <NavigationName>گفتگوی زنده با کارشناسان</NavigationName>
  <Title>گفتگوی زنده با کارشناسان</Title>
  <Description>گفتگوی زنده با کارشناسان</Description>
  <Keywords>گفتگوی زنده با کارشناسان</Keywords>
  <Sections />
</WebPageData>