<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/temrsofuse.aspx</VirtualPath>
  <NavigationName>شرایط و قوانین استفاده</NavigationName>
  <Title>شرایط و قوانین استفاده</Title>
  <Description>شرایط و قوانین استفاده</Description>
  <Keywords>شرایط و قوانین استفاده</Keywords>
  <Sections />
</WebPageData>