<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/panels.aspx</VirtualPath>
  <NavigationName>تعرفه پنل های اینترنتی</NavigationName>
  <Title>تعرفه پنل های اینترنتی</Title>
  <Description>تعرفه پنل های اینترنتی</Description>
  <Keywords>تعرفه پنل های اینترنتی</Keywords>
  <Sections />
</WebPageData>