<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/bugtracker.aspx</VirtualPath>
  <NavigationName>فرم گزارش خطاهای فنی</NavigationName>
  <Title>فرم گزارش خطاهای فنی</Title>
  <Description>فرم گزارش خطاهای فنی</Description>
  <Keywords>فرم گزارش خطاهای فنی</Keywords>
  <Sections>
    <string>d5debe75-1cb5-40b3-b04c-e7e5856e450c</string>
    <string>3f0e77cd-f36c-478b-8b1d-cb0b60f1f7f5</string>
  </Sections>
</WebPageData>