<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/copyright.aspx</VirtualPath>
  <NavigationName>حق مولف و نشر</NavigationName>
  <Title>حق مولف و نشر</Title>
  <Description>حق مولف و نشر</Description>
  <Keywords>حق مولف و نشر</Keywords>
  <Sections />
</WebPageData>