<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/specialservices.aspx</VirtualPath>
  <NavigationName>تعرفه سرویس های ویژه</NavigationName>
  <Title>تعرفه سرویس های ویژه</Title>
  <Description>تعرفه سرویس های ویژه</Description>
  <Keywords>تعرفه سرویس های ویژه</Keywords>
  <Sections />
</WebPageData>