<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/legal.aspx</VirtualPath>
  <NavigationName>اطلاعات حقوقی سامانه</NavigationName>
  <Title>اطلاعات حقوقی سامانه</Title>
  <Description>اطلاعات حقوقی سامانه</Description>
  <Keywords>اطلاعات حقوقی سامانه</Keywords>
  <Sections>
    <string>78fd1c71-4b8c-4273-beb3-93726cae9e0f</string>
  </Sections>
</WebPageData>