<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>false</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/services/default.aspx</VirtualPath>
  <NavigationName>خدمات ارزش افزوده تلفن همراه</NavigationName>
  <Title>خدمات ارزش افزوده تلفن همراه</Title>
  <Description>خدمات ارزش افزوده تلفن همراه</Description>
  <Keywords>خدمات ارزش افزوده تلفن همراه</Keywords>
  <Sections />
</WebPageData>