<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/printable.aspx</VirtualPath>
  <NavigationName>فرم های چاپی</NavigationName>
  <Title>فرم های چاپی</Title>
  <Description>فرم های چاپی</Description>
  <Keywords>فرم های چاپی</Keywords>
  <Sections>
    <string>7fdaef41-c976-4e57-9c48-d7f5f76edaa9</string>
  </Sections>
</WebPageData>