<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/systemtools.aspx</VirtualPath>
  <NavigationName>امکانات سامانه</NavigationName>
  <Title>امکانات سامانه</Title>
  <Description>امکانات سامانه</Description>
  <Keywords>امکانات سامانه</Keywords>
  <Sections>
    <string>ac35821c-4efc-4fb6-b4fe-6289a4bea345</string>
  </Sections>
</WebPageData>