<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/Homepage.aspx</VirtualPath>
  <NavigationName>Home</NavigationName>
  <Title />
  <Description />
  <Keywords />
  <Sections>
    <string>43a7960f-5cad-4058-b4f1-c83e8e4b535e</string>
    <string>90f2e3e3-116f-46b4-abbe-3d0f2ec8e3e2</string>
  </Sections>
</WebPageData>