<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/products.aspx</VirtualPath>
  <NavigationName>محصولات</NavigationName>
  <Title>محصولات</Title>
  <Description>محصولات</Description>
  <Keywords>محصولات</Keywords>
  <Sections>
    <string>3ff38a4e-59c2-46a2-b72a-4a311017bb05</string>
    <string>a12c9a52-b127-43c1-994f-aa007e402127</string>
  </Sections>
</WebPageData>