<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/sendfee.aspx</VirtualPath>
  <NavigationName>تعرفه ارسال پیامک</NavigationName>
  <Title>تعرفه ارسال پیامک</Title>
  <Description>تعرفه ارسال پیامک</Description>
  <Keywords>تعرفه ارسال پیامک</Keywords>
  <Sections />
</WebPageData>