<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/smsads.aspx</VirtualPath>
  <NavigationName>تبلیغات پیامکی</NavigationName>
  <Title>تبلیغات پیامکی</Title>
  <Description>تبلیغات پیامکی</Description>
  <Keywords>تبلیغات پیامکی</Keywords>
  <Sections />
</WebPageData>