<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/agentsinfo.aspx</VirtualPath>
  <NavigationName>نمایندگی فروش</NavigationName>
  <Title>نمایندگی فروش</Title>
  <Description>نمایندگی فروش</Description>
  <Keywords>نمایندگی فروش</Keywords>
  <Sections>
    <string>749e4de4-f70d-454b-b980-e92778569cff</string>
  </Sections>
</WebPageData>