<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/eforms/creditform.aspx</VirtualPath>
  <NavigationName>فرم الکترونیکی واریز اعتبار</NavigationName>
  <Title>فرم الکترونیکی واریز اعتبار</Title>
  <Description>فرم الکترونیکی واریز اعتبار</Description>
  <Keywords>فرم الکترونیکی واریز اعتبار</Keywords>
  <Sections />
</WebPageData>