<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/databases.aspx</VirtualPath>
  <NavigationName>جمع آوری و طراحی بانک های اطلاعاتی</NavigationName>
  <Title>جمع آوری و طراحی بانک های اطلاعاتی</Title>
  <Description>جمع آوری و طراحی بانک های اطلاعاتی</Description>
  <Keywords>جمع آوری و طراحی بانک های اطلاعاتی</Keywords>
  <Sections />
</WebPageData>