<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/docs.aspx</VirtualPath>
  <NavigationName>دریافت فایل ها و مستندات</NavigationName>
  <Title>دریافت فایل ها و مستندات</Title>
  <Description>دریافت فایل ها و مستندات</Description>
  <Keywords>دریافت فایل ها و مستندات</Keywords>
  <Sections />
</WebPageData>