<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/contactwithus.aspx</VirtualPath>
  <NavigationName>تماس با ما</NavigationName>
  <Title>تماس با ما</Title>
  <Description>تماس با ما</Description>
  <Keywords>تماس با ما</Keywords>
  <Sections>
    <string>958b93c6-2a8f-433d-b23d-2b7edd9c291b</string>
  </Sections>
</WebPageData>