<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/userregistration.aspx</VirtualPath>
  <NavigationName>فرم عمومی ثبت نام در سامانه</NavigationName>
  <Title>فرم عمومی ثبت نام در سامانه</Title>
  <Description>فرم عمومی ثبت نام در سامانه</Description>
  <Keywords>فرم عمومی ثبت نام در سامانه</Keywords>
  <Sections />
</WebPageData>