<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/trademarks.aspx</VirtualPath>
  <NavigationName>علائم و نام های تجاری</NavigationName>
  <Title>علائم و نام های تجاری</Title>
  <Description>علائم و نام های تجاری</Description>
  <Keywords>علائم و نام های تجاری</Keywords>
  <Sections />
</WebPageData>