<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/statistics.aspx</VirtualPath>
  <NavigationName>آمار و اطلاعات سامانه</NavigationName>
  <Title>آمار و اطلاعات سامانه</Title>
  <Description>آمار و اطلاعات سامانه</Description>
  <Keywords>آمار و اطلاعات سامانه</Keywords>
  <Sections />
</WebPageData>