<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/contactus.aspx</VirtualPath>
  <NavigationName>فرم عمومی تماس با ما</NavigationName>
  <Title>فرم عمومی تماس با ما</Title>
  <Description>فرم عمومی تماس با ما</Description>
  <Keywords>فرم عمومی تماس با ما</Keywords>
  <Sections>
    <string>6136225f-d6d7-40f4-b596-df914ee1a262</string>
  </Sections>
</WebPageData>