<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/mobilesolutions.aspx</VirtualPath>
  <NavigationName>راه حل های مبتنی بر تلفن همراه</NavigationName>
  <Title>راه حل های مبتنی بر تلفن همراه</Title>
  <Description>راه حل های مبتنی بر تلفن همراه</Description>
  <Keywords>راه حل های مبتنی بر تلفن همراه</Keywords>
  <Sections />
</WebPageData>