<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/techsupport.aspx</VirtualPath>
  <NavigationName>پشتیبانی فنی</NavigationName>
  <Title>پشتیبانی فنی</Title>
  <Description>پشتیبانی فنی</Description>
  <Keywords>پشتیبانی فنی</Keywords>
  <Sections />
</WebPageData>