<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/simrecharge.aspx</VirtualPath>
  <NavigationName>فرم شارژ الکترونیکی سیم کارت</NavigationName>
  <Title>فرم شارژ الکترونیکی سیم کارت</Title>
  <Description>فرم شارژ الکترونیکی سیم کارت</Description>
  <Keywords>فرم شارژ الکترونیکی سیم کارت</Keywords>
  <Sections />
</WebPageData>