<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/cooperation.aspx</VirtualPath>
  <NavigationName>همکاری با ما</NavigationName>
  <Title>همکاری با ما</Title>
  <Description>همکاری با ما</Description>
  <Keywords>همکاری با ما</Keywords>
  <Sections>
    <string>f32652ad-b89a-425f-8d38-7d416a543c82</string>
    <string>31717df3-a238-4583-a347-afa6468ab486</string>
  </Sections>
</WebPageData>