<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/pricing.aspx</VirtualPath>
  <NavigationName>تعرفه ها و قیمت گذاری</NavigationName>
  <Title>تعرفه ها و قیمت گذاری</Title>
  <Description>تعرفه ها و قیمت گذاری</Description>
  <Keywords>تعرفه ها و قیمت گذاری</Keywords>
  <Sections>
    <string>ac2e90e4-1309-4b8a-863d-320aa4a6e778</string>
    <string>193d2919-847f-4131-bf4e-bb66a4a7a124</string>
  </Sections>
</WebPageData>