<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/customervoice.aspx</VirtualPath>
  <NavigationName>فرم نظرات انتقادات و پیشنهادات</NavigationName>
  <Title>فرم نظرات انتقادات و پیشنهادات</Title>
  <Description>فرم نظرات انتقادات و پیشنهادات</Description>
  <Keywords>فرم نظرات انتقادات و پیشنهادات</Keywords>
  <Sections>
    <string>bf5f838c-f0de-463d-8526-3a2329ee1646</string>
  </Sections>
</WebPageData>