<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/forms.aspx</VirtualPath>
  <NavigationName>فرمها و خدمات الکترونیکی</NavigationName>
  <Title>فرمها و خدمات الکترونیکی</Title>
  <Description>فرمها و خدمات الکترونیکی</Description>
  <Keywords>فرمها و خدمات الکترونیکی</Keywords>
  <Sections>
    <string>9f2ae5fc-deb2-405e-b148-dbba869d5575</string>
    <string>a75ca605-f52f-4f99-a1ea-41f028ead68d</string>
  </Sections>
</WebPageData>