<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/eforms/recieptform.aspx</VirtualPath>
  <NavigationName>فرم ثبت فیش واریزی</NavigationName>
  <Title>فرم ثبت فیش واریزی</Title>
  <Description>فرم ثبت فیش واریزی</Description>
  <Keywords>فرم ثبت فیش واریزی</Keywords>
  <Sections />
</WebPageData>