<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/search.aspx</VirtualPath>
  <NavigationName>جستجو در محتوای سامانه</NavigationName>
  <Title>جستجو در محتوای سامانه</Title>
  <Description>جستجو در محتوای سامانه</Description>
  <Keywords>جستجو در محتوای سامانه</Keywords>
  <Sections />
</WebPageData>