<?xml version="1.0"?>
<LinkListData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Entries>
    <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
      <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="LinkListEntries">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Guid" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" />
                  <xs:element name="Title" type="xs:string" minOccurs="0" />
                  <xs:element name="Url" type="xs:string" minOccurs="0" />
                  <xs:element name="Target" type="xs:string" minOccurs="0" />
                  <xs:element name="Comment" type="xs:string" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
        <xs:unique name="Constraint1" msdata:PrimaryKey="true">
          <xs:selector xpath=".//LinkListEntries" />
          <xs:field xpath="Guid" />
        </xs:unique>
      </xs:element>
    </xs:schema>
    <diffgr:diffgram xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1">
      <NewDataSet>
        <LinkListEntries diffgr:id="LinkListEntries1" msdata:rowOrder="0">
          <Guid>0a5fa98b-38c2-464a-b41c-f47d4a8303a1</Guid>
          <Title>پرداختهای اینترنتی بانک ملی</Title>
          <Url>https://epayment.bmi.ir/</Url>
          <Target>_blank</Target>
          <Comment>سرویسهای پرداخت اینترنتی بانک ملی</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries2" msdata:rowOrder="1">
          <Guid>b1ee4db8-66ef-4e5c-920b-18c1be085e15</Guid>
          <Title>پرداخت اینترنتی قبوض ملت</Title>
          <Url>https://bill.bpm.bankmellat.ir/bpgwchannel/</Url>
          <Target>_blank</Target>
          <Comment>پرداخت اینترنتی قبوض ملت</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries3" msdata:rowOrder="2">
          <Guid>ad410d64-4add-422b-8cab-5fa905022c02</Guid>
          <Title>کمک به سازمان های حمایتی</Title>
          <Url>http://echarity.bankmellat.ir/echarity/Payment/institutelist.aspx</Url>
          <Target>_blank</Target>
          <Comment>کمک به سازمان های حمایتی</Comment>
        </LinkListEntries>
      </NewDataSet>
    </diffgr:diffgram>
  </Entries>
</LinkListData>