<?xml version="1.0"?>
<LinkListData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Entries>
    <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
      <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="LinkListEntries">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Guid" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" />
                  <xs:element name="Title" type="xs:string" minOccurs="0" />
                  <xs:element name="Url" type="xs:string" minOccurs="0" />
                  <xs:element name="Target" type="xs:string" minOccurs="0" />
                  <xs:element name="Comment" type="xs:string" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
        <xs:unique name="Constraint1" msdata:PrimaryKey="true">
          <xs:selector xpath=".//LinkListEntries" />
          <xs:field xpath="Guid" />
        </xs:unique>
      </xs:element>
    </xs:schema>
    <diffgr:diffgram xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1">
      <NewDataSet>
        <LinkListEntries diffgr:id="LinkListEntries1" msdata:rowOrder="0">
          <Guid>d0eb39d9-92a4-4133-9ee7-0b3d30117aab</Guid>
          <Title>پیدا کردن کد پستی از روی شماره تلفن ثابت</Title>
          <Url>http://www.iran.ir/postcode</Url>
          <Target>_blank</Target>
          <Comment>پیدا کردن کد پستی از روی شماره تلفن ثابت</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries2" msdata:rowOrder="1">
          <Guid>f2815fb2-f49f-4ae1-b88c-8f3da947036d</Guid>
          <Title>پیدا کردن مکان جغرافیایی کد پستی</Title>
          <Url>http://map.tehran.ir/</Url>
          <Target>_blank</Target>
          <Comment>پیدا کردن مکان جغرافیایی کد پستی</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries3" msdata:rowOrder="2">
          <Guid>9f200125-0dee-4729-b548-90c5c640fd48</Guid>
          <Title>اطلاعات 118 مخابرات</Title>
          <Url>http://118.tct.ir/</Url>
          <Target>_blank</Target>
          <Comment>اطلاعات 118 مخابرات</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries4" msdata:rowOrder="3">
          <Guid>f94a8854-99a8-4147-981b-7150f3564d1f</Guid>
          <Title>تهران 118</Title>
          <Url>http://www.tehran118.com/</Url>
          <Target>_blank</Target>
          <Comment>تهران 118</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries5" msdata:rowOrder="4">
          <Guid>179d4957-3c4a-4c52-921e-15de17602a65</Guid>
          <Title>بانك اطلاعات تقسيمات كشوري</Title>
          <Url>http://portal2.moi.ir/Portal/Home/Default.aspx?CategoryID=8f931308-c67e-4cf4-a5e7-3c1bbb1a6f32</Url>
          <Target>_blank</Target>
          <Comment>بانك اطلاعات تقسيمات كشوري</Comment>
        </LinkListEntries>
        <LinkListEntries diffgr:id="LinkListEntries6" msdata:rowOrder="5">
          <Guid>923e447a-afd4-4bea-b6e8-19034e5e668f</Guid>
          <Title>مدیریت جغرافیائی و کدکذاری پستی کشور</Title>
          <Url>http://www.postcode.post.ir/</Url>
          <Target>_blank</Target>
          <Comment>مدیریت جغرافیائی و کدکذاری پستی کشور</Comment>
        </LinkListEntries>
      </NewDataSet>
    </diffgr:diffgram>
  </Entries>
</LinkListData>