<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="supportedLanguages" requirePermission="false" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="Version" value="1.0"/>
    <add key="SmsQueueServiceUrl" value="http://80.253.147.99/services/urn:SOAPSmsQueue"/>
    <add key="Username" value="arvidfava"/>
    <add key="Password" value="13713"/>
    <add key="Domain" value="magfa"/>
    <add key="SenderNumber" value="30004771"/>
    <add key="Count" value="1"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyUsername" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="UseProxy" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MagfaWebReference.SOAPSmsQueue" value="http://80.253.147.99/services/urn:SOAPSmsQueue"/>
    <add key="com.magfa.sms.BulkSoap" value="http://80.253.147.99/bulk-services/urn:BulkSoap"/>
    <add key="PgwSite" value="https://pgw.bpm.bankmellat.ir/pgwchannel/startpay.mellat"/>
    <add key="TerminalId" value="1324071"/>
    <add key="bpUserName" value="arvid"/>
    <add key="bpUserPassword" value="ar68vi"/>
    <add key="CallBackUrl" value="http://www.ArvidSMS.ir/callbackmellat.aspx"/>
    <add key="BPService.PaymentGatewayImplService" value="https://pgws.bpm.bankmellat.ir/pgwchannel/services/pgw"/>
    <add key="ir.bankmellat.bpm.pgws.PaymentGatewayImplService" value="https://pgws.bpm.bankmellat.ir/pgwchannel/services/pgw"/>
  </appSettings>
  <connectionStrings>
   <add name="ArvidSMSConnectionString" connectionString="Server=(Local); Database=ArvidSMS; Integrated Security=true" providerName="System.Data.SqlClient"/>
    <!--  <add name="ArvidSMSConnectionString" connectionString="Server=.\MSSQLSERVER2012; Database=zamanisms; uid=alirezasms; pwd=zamani123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <supportedLanguages languages="fa,de,en,pt,ar,cs,es,pl,fr,el,nl,ru,sk,zh,he,fi,tr"/>
  <system.web>
    <profile>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="NationalCode"/>
        <add name="IntroduceWay"/>
        <add name="Concessionaire"/>
        <add name="GradeLevel"/>
        <add name="CompanyName"/>
        <add name="RegisterNo"/>
        <add name="ActivityField"/>
        <add name="PostInCo"/>
        <add name="Website"/>
        <add name="CompanyEmail"/>
        <add name="Tel"/>
        <add name="Mobile"/>
        <add name="PostalCode"/>
        <add name="Address"/>
        <add name="AgentName"/>
        <add name="AgentTelNo"/>
        <add name="LineNo"/>
        <add name="Charge"/>
        <add name="Credit"/>
        <add name="SendFee"/>
        <add name="ReceiveFee"/>
        <add name="Facilities"/>
        <add name="OldSMS"/>
        <add name="IsSubscriber"/>
      </properties>
    </profile>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>
    <compilation debug="true" batch="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="500000" protection="All" name=".ASPXFORMSAUTH"/>
    </authentication>
    <customErrors mode="Off"/>
    <membership defaultProvider="CustomXmlMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomXmlMembershipProvider" type="Opal.Providers.CustomXmlMembershipProvider" maxInvalidPasswordAttempts="3" passwordAttemptWindow="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="3" passwordStrengthRegularExpression="" enablePasswordReset="true" enablePasswordRetrieval="true" requiresQuestionAndAnswer="True" requiresUniqueEmail="true"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="Opal.Providers.CustomRoleProvider"/>
      </providers>
    </roleManager>
    <!--<membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" maxInvalidPasswordAttempts="3" passwordAttemptWindow="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="3" enablePasswordReset="true" enablePasswordRetrieval="false" requiresQuestionAndAnswer="True" requiresUniqueEmail="true" supportsPasswordRetrieval="false"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName="ArvidSMS">
      -->
    <!--cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All"-->
    <!--
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="MyApplication"/>
      </providers>
    </roleManager>-->
    <siteMap defaultProvider="CustomXmlSitemapProvider">
      <providers>
        <clear/>
        <add name="CustomXmlSitemapProvider" type="Opal.Providers.CustomXmlSitemapProvider" securityTrimmingEnabled="true" siteMapFile="~/App_Data/Web.sitemap"/>
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="false"/>
  </system.web>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Services">
    <system.web>
      <authorization>
        <allow roles="Users, Administrators"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <allow roles="Users, Administrators"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Databases">
    <system.web>
      <authorization>
        <allow roles="Users, Administrators"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
   <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TSOAPSoapBinding"/>
        <binding name="TSOAPSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://80.253.147.99/services/urn:SOAPSmsQueue" binding="basicHttpBinding" bindingConfiguration="TSOAPSoapBinding" contract="SOAPSmsQueue.SoapSmsQueuableImplementation" name="TSOAP"/>
      <endpoint address="http://sms.magfa.com/bulk-services/urn:BulkSoap" binding="basicHttpBinding" bindingConfiguration="TSOAPSoapBinding1" contract="BulkServices.BulkSoapImpl" name="TSOAP1"/>
    </client>
  </system.serviceModel>
</configuration>